

<div id="signup" style="background-color:#D8D1B2;">

    <div class="text-center mb-4">
        <img src="/assets/img/favicon.ico" alt="" width="50" height="50">
        <h1 class="h3 mb-3 font-weight-normal">Car Nerd</h1>



        <form class="" id="signupform" action="#" method="post">
            <div class="form-label-group justify-content-center form-inline">
                <label class="form-control-placeholder col-4" for="inputUsername">Username</label>
                <input type="text" name="username" id="inputUsername" class="form-control col-6">
                <label class="form-control-placeholder col-4" for="inputPassword">Password</label>
                <input type="password" name="password"  id="inputPassword" class="form-control col-6">
                <div id="errorMessages" class="col-12" style="color:red;"></div>
                <button type="submit" class="btn btn-primary col-4">Submit</button>
            </div>
        </form>
    </div>


</div>

<!-- Custom JS -->
<script src="js/signup.js"></script>