

<div id="signup" style="background-color:#D8D1B2;">

    <div class="text-center mb-4">
        <img src="/assets/img/favicon.ico" alt="" width="50" height="50">
        <h1 class="h3 mb-3 font-weight-normal">Car Nerd</h1>



        <form class="" action="#" method="post">
            <div class="form-label-group">
                <label class="form-control-placeholder" for="inputUsername">Username</label>
                <input type="text" name="username" value="" id="inputUsername" placeholder="username" class="form-control col-5">
            </div>


        </form>
    </div>

</div>