body {
    background-color: #00D1C1
}

.navbar-light {
     background-color: #FFF6E2 !important;
}

.navbar-brand {
    color: #00D1C1 !important;
}

.nav-link {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.car-listing {
    padding: 40px;
}

.car-info-title {
    color:#B4A76C
}

button {
    margin: 5px 2px 15px;
}

.page-footer{
    background-color: #00D1C1;
}


.purchase-car-display {
    margin: 30px;
    height:650px;
    overflow-y: scroll;

}

@media only screen and (min-width: 800px)  {
    .car-page-img {
        max-width: 30%;
        max-height: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
/*

Color Theme:

Foreground
#D8D1B2

Background
#00D1C1

Accent 1
#FFF6E2

Accent 2
#B4A76C

Accent 3
#5ABC96

 */